@{ViewData["Title"] = "Fixtures";}

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <style></style>
    </head>

    <body>
        <h1> Fixtures </h1>
        <p> Gotta make a fixtures table with </p>
        <p> - Headers : Team, GW1-38 opponent </p>
        <p> - Body : Team, Team (+ difficulty), Team (+ difficulty) </p>
    </body>
    
</html>