@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a class="btn btn-info" asp-action="Player" asp-controller="Tools">View Players</a>
    <a class="btn btn-info" asp-action="Teams" asp-controller="Tools">View Teams</a>
    <a class="btn btn-info" asp-action="Fixtures" asp-controller="Tools">View Fixtures</a>
</div>
